nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #171717;
    max-width: 100%;
}

nav.light__mode {
    background-color: white;
}
nav .logo {
    color: #33DDFB;
    font-size: 30px;
    margin: 15px;
    margin-right: 43px;
}

nav .logo:hover {
    color: #3D77a2;
    cursor: pointer;
}

nav div {
    display: flex;
    align-items: center;
}

nav .search {
    width: 230px;
    height: 35px;
    padding: 5px 7px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px 0 0 10px;
    background-color: #484848;
    border: none; 
    color: white;
}


nav .search.light__mode{
    background-color: #E0E0E0;
    color: #222;
}

nav .search__button {
    height: 45px;
    padding: 5px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    background-color: #484848;
    border: none; 
    color: white;
}

nav .search__button.light__mode {
    background-color: #E0E0E0;
}
nav ul {
    display: flex;
    list-style-type: none;
    color: white;
}

nav ul li {
    padding: 11px 20px;
}

@media screen and (max-width: 678px) {
    nav {
        padding: 0 5px;
    }

    nav .logo {
        font-size: 22px;
    }
}

/* Colors: 
E6FBFF: white
CCF7FE: very lightblue
99EEFD: lightblue
66E6FC: slightly blue
33DDFB:
#00D5FA
"#00A0BC
"#006B7D
"#00353F
"#001519
*/